{% extends "./_base.html" %}

{% block title %} Author Paper By ID {% endblock %}

{% block content %}



<!-- Review Paper By ID -->
<h1 class="text-3xl text-black dark:text-white text-center font-bold space-y-2">Author Paper </h1>

<div class="bg-white dark:bg-gray-800 shadow rounded-lg h-full p-5 flex justify-center">
    {% if paper %}
    <div class="max-w-2xl w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
            <h5 class="mb-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Paper Title: {{ paper.title }}</h5>
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Abstract:</b> {{ paper.abstract }}</p>
        <!--Download Paper-->
        <a href="/author/download_paper/{{ paper.id }}">
            <button type="button" class="text-white bg-blue-700 hover:bg-blue-800 focus:outline-none focus:ring-4 focus:ring-blue-300 font-medium rounded-full text-sm px-5  text-center mr-2 mb-2 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800 inline-flex items-center py-2.5">
                <svg class="w-5 h-5 mr-2 text-white dark:text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                    <path d="M14.707 7.793a1 1 0 0 0-1.414 0L11 10.086V1.5a1 1 0 0 0-2 0v8.586L6.707 7.793a1 1 0 1 0-1.414 1.414l4 4a1 1 0 0 0 1.416 0l4-4a1 1 0 0 0-.002-1.414Z"/>
                    <path d="M18 12h-2.55l-2.975 2.975a3.5 3.5 0 0 1-4.95 0L4.55 12H2a2 2 0 0 0-2 2v4a2 2 0 0 0 2 2h16a2 2 0 0 0 2-2v-4a2 2 0 0 0-2-2Zm-3 5a1 1 0 1 1 0-2 1 1 0 0 1 0 2Z"/>
                  </svg>
                Download Paper
            </button>
        </a>
        <!-- Author Details -->
        <div>
            <h1 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Author Details</h1>
            <div class="mb-3 font-normal text-gray-700 dark:text-gray-400 border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 p-6"> 
            {% if paper.author_1 %}
                <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Author 1: {{ paper.author_1 }}</h5>
                <!-- <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Email:</b> {{ author_1.email }}</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Phone:</b> {{ author_1.phone }}</p> -->
            {% endif %}
            {% if paper.author_2 %}
                <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Author 2: {{ paper.author_2 }}</h5>
                <!-- <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Email:</b> {{ author_2.email }}</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Phone:</b> {{ author_2.phone }}</p> -->
            {% endif %}
            {% if paper.author_3 %}
                <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Author 3: {{ paper.author_3 }}</h5>
                <!-- <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Email:</b> {{ author_3.email }}</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Phone:</b> {{ author_3.phone }}</p> -->
            {% endif %}
            {% if paper.author_4 %}
                <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Author 4: {{ paper.author_4 }}</h5>
                <!-- <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Email:</b> {{ author_4.email }}</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Phone:</b> {{ author_4.phone }}</p> -->
            {% endif %}
            {% if paper.author_5 %}
                <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Author 5: {{ paper.author_5 }}</h5>
                <!-- <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Email:</b> {{ author_5.email }}</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Phone:</b> {{ author_5.phone }}</p> -->
            {% endif %}
            {% if paper.author_6 %}
                <h5 class="mb-2 text-lg font-bold tracking-tight text-gray-900 dark:text-white">Author 6: {{ paper.author_6}} </h5>
                <!-- <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Email:</b> {{ author_6.email }}</p>
                <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Phone:</b> {{ author_6.phone }}</p> -->
            {% endif %}
            </div>
        </div>
        
        <!-- paper conference -->
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Conference:</b> {{ paper.conference }}</p>
        <!-- paper submitted -->
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Submitted:</b> {{ paper.updated_at }}</p>
        <!--Review Details-->

        <!-- paper status-->
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Status:</b> {{ paper.status }}</p>
        <!-- paper remark -->
        {% if paper.review_remark_1 %}
        <p class="mb-3 font-normal text-gray-700 dark:text-gray-400"><b>Remark 1:</b> {{ paper.review_remark_1 }}</p>
        {% endif %}

    </div>
    {% else %}
    <div class="max-w-2xl w-full p-6 bg-white border border-gray-200 rounded-lg shadow dark:bg-gray-800 dark:border-gray-700 ">
        <h5 class="mb-3 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">Paper Not Found</h5>
    </div>  
    {% endif %}
        

</div>

{% endblock %}